@import "bootstrap/scss/bootstrap";

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.modal-body img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
